@model List<NotaModel>
@{
    ViewData["Title"] = "Notas";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
<div class="text-center">

       <h1 class="display-4">Essas são suas notas</h1>

    <table class="display" id="table-notas" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Matéria:&nbsp</th>
                <th scope="col">Precisa de:</th>
                <th scope="col">Nota 1° Bimestre:&nbsp</th>
                <th scope="col">Nota 2° Bimestre:&nbsp</th>
                <th scope="col">Nota 3° Bimestre:&nbsp</th>
                <th scope="col">Nota 4° Bimestre:&nbsp</th>
                <th scope="col">Média Anual:&nbsp</th>
            </tr>
        </thead>
        <tbody>
           @if(Model != null && Model.Any())
            {
                foreach(var nota in Model){
                    if (nota.Nota1Bimestre == null)
                    {
                        nota.Nota1Bimestre = 0;
                    }
                    if (nota.Nota2Bimestre == null)
                    {
                        nota.Nota2Bimestre = 0;
                    }
                    if (nota.Nota3Bimestre == null)
                    {
                        nota.Nota3Bimestre = 0;
                    }
                    if (nota.Nota4bimestre == null)
                    {
                        nota.Nota4bimestre = 0;
                    }
                    <tr>
                        <th scope="row">@nota.Id</th>
                        <td>@nota.Materia</td>
                        <td>
                            @{
                                var necessario = 60 - (nota.Nota1Bimestre + nota.Nota2Bimestre + nota.Nota3Bimestre + nota.Nota4bimestre);
                            }
                            @if(necessario >= 0)
                            {
                                @necessario

                            }
                            else
                            {
                                var nulo = 0;
                                @nulo
                            }

                        </td>
                        <td>@nota.Nota1Bimestre</td>
                        <td>@nota.Nota2Bimestre</td>
                        <td>@nota.Nota3Bimestre</td>
                        <td>@nota.Nota4bimestre</td>
                        <td>@{
                                
                                var total = nota.Nota1Bimestre + nota.Nota2Bimestre + nota.Nota3Bimestre + nota.Nota4bimestre;
                            }
                            @total
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>