@model List<NotaModel>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema De Notas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaDeNotas.styles.css" asp-append-version="true" />


</head>
<body>
    <table class="display" id="table-notas-usuario">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Matéria</th>
            <th scope="col">Nota 1° Bimestre</th>
            <th scope="col">Nota 2° Bimestre</th>
            <th scope="col">Nota 3° Bimestre</th>
            <th scope="col">Nota 4° Bimestre</th>
            <th scope="col">Média Anual</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach (var nota in Model)
            {
                    if (nota.Nota1Bimestre == null)
                    {
                        nota.Nota1Bimestre = 0;
                    }
                    if (nota.Nota2Bimestre == null)
                    {
                        nota.Nota2Bimestre = 0;
                    }
                    if (nota.Nota3Bimestre == null)
                    {
                        nota.Nota3Bimestre = 0;
                    }
                    if (nota.Nota4bimestre == null)
                    {
                        nota.Nota4bimestre = 0;
                    }
                <tr>
                    <th scope="row">@nota.Id</th>
                    <td>@nota.Materia</td>
                    <td>@nota.Nota1Bimestre</td>
                    <td>@nota.Nota2Bimestre</td>
                    <td>@nota.Nota3Bimestre</td>
                    <td>@nota.Nota4bimestre</td>
                    <td>
                            @{
                                var total = nota.Nota1Bimestre + nota.Nota2Bimestre + nota.Nota3Bimestre + nota.Nota4bimestre;
                            }
                            @total
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@nota.Id" asp-controller="AdminNotas" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@nota.Id" asp-controller="AdminNotas" asp-action="ApagarConfirmacao">Apagar</a>
                        </div>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>