@model List<NotaModel>
@{
    ViewData["Title"] = "Administrar Notas";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
<div class="text-center">

    <h1 class="display-4">Essas são as notas cadastradas</h1>

    <table class="display" id="table-notas" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Aluno:&nbsp</th>
                <th scope="col">Turma:&nbsp</th>
                <th scope="col">Matéria:&nbsp</th>
                <th scope="col">Nota 1° Bimestre:&nbsp</th>
                <th scope="col">Nota 2° Bimestre:&nbsp</th>
                <th scope="col">Nota 3° Bimestre:&nbsp</th>
                <th scope="col">Nota 4° Bimestre:&nbsp</th>
                <th scope="col">Média Anual:&nbsp</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var nota in Model) 
                {
                    <tr>
                        <th scope="row">@nota.Id</th>
                        <td>@nota.UsuarioNome</td>
                        <td>@nota.UsuarioTurma</td>
                        <td>@nota.Materia</td>
                        <td>@nota.Nota1Bimestre</td>
                        <td>@nota.Nota2Bimestre</td>
                        <td>@nota.Nota3Bimestre</td>
                        <td>@nota.Nota4bimestre</td>
                        <td>
                            @{
                                var total = nota.Nota1Bimestre + nota.Nota2Bimestre + nota.Nota3Bimestre + nota.Nota4bimestre;
                            }
                            @total
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@nota.Id" asp-controller="AdminNotas" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@nota.Id" asp-controller="AdminNotas" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>